<h1>Listing tables for user: <%= current_user.login %> (id: <%= current_user.id %>)</h1>

<table border="1">
  <tr>
    <% ["Table Name", "Table ID", "Table Owner Name","Table Owner User ID", "Database Service", "Show", "Destroy"].each do |header| %>
      <th><%= header %></td>
    <% end %>
  </tr>

<% @datasets.each do |dataset| %>
  <tr align="center">
    <td><%= dataset.name %></td>
    <td><%= dataset.table_uuid %></td>
    <td><%= User.find(dataset.user_id).login %></td>
    <td><%= dataset.user_id %></td>
    <td><%= dataset.remote_db_service %></td>
    <td><%= link_to 'Show', dataset %></td>
    <td><%= link_to 'Destroy', dataset, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% if current_user.is_admin? %>
  <h2>Tables in Remote Database</h2>
  <p><%= DatabaseInterface.list_tables.inspect %></p>

  <p><%= form_tag(cleanup_datasets_path, :method => "delete") %>
    DB to remove table from<%= text_field_tag 'removal_db' %>
    Table ID<%= text_field_tag 'table_to_remove' %>
    <%= submit_tag 'Delete' %>
  </p>
<% end %>

<br />
<%= link_to 'New dataset', new_dataset_path %>
