<h1>Listing datasets for user: <%= current_user.login %> (id: <%= current_user.id %>)</h1>

<table>
  <tr>
    <th>Your Table UUIDs</th>
  </tr>

<% @datasets.each do |dataset| %>
  <tr>
    <td><%=h dataset.table_uuid %></td>
    <td><%= link_to 'Show', dataset %></td>
    <td><%= link_to 'Destroy', dataset, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% if current_user.is_admin? %>
  <h2>Tables in Remote Database</h2>
  <p><%= DatabaseInterface.tables_list.inspect %></p>

  <p><%= form_tag(cleanup_datasets_path, :method => "delete") %>
    Client UUID That Needs Its Tables Deleted <%= text_field_tag 'table_to_remove' %>
    <%= submit_tag 'Delete' %>
  </p>
<% end %>

<br />
<%= link_to 'New dataset', new_dataset_path %>
