<h1>Listing datasets</h1>

<table>
  <tr>
    <th>Client UUID</th>
  </tr>

<% @datasets.each do |dataset| %>
  <tr>
    <td><%=h dataset.client_uuid %></td>
    <td><%= link_to 'Show', dataset %></td>
    <td><%= link_to 'Destroy', dataset, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<h2>Tables in Remote Database</h2>
<p><%= Dataset.get_domain_list_string %></p>

<br />

<%= link_to 'New dataset', new_dataset_path %>
