<h1>New dataset</h1>

<% form_for(@dataset) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :table_name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Remote Database Service (Supported: sdb, google_storage)" %><br />
    <%= f.text_field :remote_db_service %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', datasets_path %>
