<p>
  <b>Uid:</b>
  <%=h @dataset.uid %>
</p>

<h2>Is the service still learning?</h2>
<p><%= @dataset.is_learning? %></p>

<h2>Attributes</h2>
<p><%= @dataset.get_items.each {|item| p item.inspect; p "<br />\n"} %></p>

<%= link_to 'Destroy', @dataset, :confirm => 'Are you sure?', :method => :delete %></td>
<%= link_to 'Back', datasets_path %>
<p><%= form_tag(dataset_path, :method => "put") %>
    URL of Data to Add<%= text_field_tag 'dataurl' %>
    <%= submit_tag 'Add Data' %>
</p>



